@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

/* CSS Reset from this website "https://www.joshwcomeau.com/css/custom-css-reset/" */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    margin: 0 auto;
    color: #f3f3f3;
    background-color: #151414;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 375px;
    overflow: hidden;

    @media screen and ((min-width: 768px) and (max-width: 1440px)) {
        width: 768px;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px
    }
}

main {
    height: auto;
    margin: 0 auto;

    background-color: #151414;
}

.contact-wrapper,
.footer-wrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    background-color: #242424;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
}

.contact-wrapper .contact-container,
.footer-wrapper footer {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and ((min-width: 768px) and (max-width: 1440px)) {

    .contact-wrapper .contact-container,
    .footer-wrapper footer {
        max-width: 768px;
    }
}

@media screen and (min-width: 1440px) {

    .contact-wrapper .contact-container,
    .footer-wrapper footer {
        max-width: 1440px;
    }
}

.green-color-hover:hover {
    color: #4ee1a0;
}